{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    // "@remix-run/eslint-config",
    // "@remix-run/eslint-config/node",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "standard",
    "prettier",
    "plugin:tailwindcss/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["node_modules", "build", ".cache"],
  "plugins": ["prettier", "simple-import-sort", "react", "react-hooks"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.js", ".tsx", ".jsx"],
      "parser": "@typescript-eslint/parser"
    }
  ],
  "rules": {
    "prettier/prettier": "error",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "react/react-in-jsx-scope": 0,
    "comma-dangle": 0
  }
}
