{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "prettier",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "standard",
    "plugin:tailwindcss/recommended"
  ],
  "ignorePatterns": ["node_modules", "build", ".cache"],
  "plugins": ["prettier", "simple-import-sort", "react", "react-hooks"],
  "overrides": [
    {
      "files": ["*.ts", "*.js", ".tsx", ".jsx"],
      "parser": "@typescript-eslint/parser"
    },
    {
      // No default exports other than in root files and routes
      "files": ["./app/*/*.{js,jsx,ts,tsx}"],
      "excludedFiles": ["./app/routes/**"],
      "rules": {
        "import/no-default-export": "error"
      }
    }
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": 0
  }
}
