@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-work w-dvw max-w-[100vw];
  scrollbar-width: thin;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bai;
}

.post-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply py-8;
  }

  h1 {
    @apply lg:text-[56px] text-2xl;
  }
  h2 {
    @apply lg:text-[44px] text-xl;
  }
  h3 {
    @apply text-[32px];
  }
  h4 {
    @apply text-[28px];
  }
}

.menu-link {
  &:before {
    content: attr(data-content);
    height: 0;
    opacity: 0;
    display: block;
    font-weight: bold;
  }
}

.use-item-content {
  h1 {
    @apply lg:text-[56px] text-2xl py-6;
  }
  h2 {
    @apply lg:text-[44px] text-xl py-4;
  }
  h3 {
    @apply text-[48px] leading-[58px] pb-8;
  }
  ul {
    list-style: none;
    li {
      background: url('/img/bullet-green.svg') no-repeat left center;
      background-size: 22px;
      padding: 10px 0 10px 32px;
    }
  }
}

.headband-wrapper {
  max-width: 100%;
  overflow: hidden;
}

.headband {
  scrollbar-width: none;
  white-space: nowrap;
  animation: headband 20s linear infinite;
}

@keyframes headband {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
